<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/code.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
  </head>
  <body>
      <center>
          <button type= "button" class="btn btn-success"submit value="Divulgue Aqui"> 
            <a href="pagina3.html"> <font color="black">Divulgue aqui</font> </button> </a>
          <div class="content">
            <form class="row g-3">
               <div class="col-md-12">
        <label for="inputState" class="form-label">Segmento</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>

  <div class="col-md-5">
    <label for="inputNome" class="form-label">Nome da empresa</label>
    <p><p>
    <input type="text" class="form-control" id="inputNome">
  </div>
  <p><p>
  <div class="col-md-15">
    <label for="inputencontra" class="form-label">Qua área?</label>
    <p><p>
    <input type="password" class="form-control" id="inputencontra">
  </div>
  <p><p>
  <div class="col-10">
    <label for="inputContato" class="form-label">Contato</label>
    <p><p>
    <input type="text" class="form-control" id="inputcontato" placeholder="">
  </div>
  <p><p>
  <div class="col-md-10">
      <label for="inputRede" class="form-label">Rede sociais: </label>
    </div><p><p>
        <div class="col-md-10">
            <label for="inputRede" class="form-label">Instagram  </label>
            <input type="text" class="form-control" id="inputRede">
          </div>
          <div class="col-md-10">
              <label for="inputRede" class="form-label"> WhatsApp </label>
              <input type="text" class="form-control" id="inputRede">
            </div><p><p>
  <div class="col-10">
    <label for="inputEndereco" class="form-label" >Endereço:</label>
    
  </div>
  <p><p>
  <div class="col-10">
    <label for="inputEndereco" class="form-label">CEP</label>
    <input type="text" class="form-control" id="inputEndereco" placeholder="">
  </div>
  <p><p>
  <div class="col-10">
    <label for="inputEndereco" class="form-label">Cidade</label>
    <input type="text" class="form-control" id="inputEndereco" placeholder="">
  </div><p><p>
  <div class="col-10">
    <label for="inputEndereco" class="form-label"> Bairro </label>
    <input type="text" class="form-control" id="inputEndereco" placeholder="">
  </div>
  <p><p>
  <div class="col-10">
    <label for="inputEndereco" class="form-label">Nº</label>
    <input type="text" class="form-control" id="inputEndereco" placeholder="">
  </div>
  <p><p>
  <div class="col-md-10">
    <label for="inputEndereco" class="form-label">Complemento</label>
    <input type="text" class="form-control" id="inputEndereco">
  </div>
  <p><p>
  
   <div class="col-12">
    <button type="submit" class="btn btn-primary">Salvar informações</button>
  </div>
</form>
  </body>
</html>
